/*画像の並び*/
.wall {
  z-index: 1;
}

.background {
  z-index: 2;
}

.character {
  z-index: 3;
}

.shutter {
  z-index: 4;
}

.frame {
  z-index: 5;
}

.file {
  z-index: 6;
}

.textbox {
  z-index: 7;
}

/* ▼ */
#next-indicator {
  text-align: right;
  animation: blink 1s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

body {
  margin: 0;
  background: black;
  overflow: hidden;
}

.start-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
}

.game {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.wall,
.background,
.shutter,
.frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.file {
  position: absolute;
  height: auto;
  bottom: 0px;
  cursor: pointer;
}

#fileA {
  width: 200px;
  left: 120px;
}

#fileB {
  width: 50px;
  right: 80px;
}

/* 背景2 */
.background {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("images/bg-room.webp");
  background-size: 100% 100%;
  background-position: center;
}

/* 立ち絵 */
.character {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
}

/* テキストボックス */
.textbox {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30vh;

  background-image: url("images/textbox.webp");
  background-size: 100% 100%;
  background-repeat: no-repeat;

  transform: scale(0);
  transform-origin: center center;
  transition: transform 0.4s ease;

  background-position: center;
  padding: 20px;
  box-sizing: border-box;
  color: white;
  z-index: 300;

}

.textbox.show {
  transform: scale(1);
}

#text {
  margin-bottom: 20px;
}

/* 選択肢 */
#choices button {
  background: none;
  border: 1px solid white;
  color: white;
  padding: 10px;
  margin-right: 10px;
  cursor: pointer;
}

/*アニメーション*/
.window {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  overflow: hidden;

  z-index: 2;
  
  transform: scale(0);
  transform-origin: center center;
  /* ← 中心基準 */
  transition: transform 0.5s ease;
}

.window.open {
  transform: scale(1);
}

/*スマホスクリーンについて*/
.game-container {
  width: 800px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .game-container {
    width: 100vw;
    height: 100vh;
  }
}